.LoginPageLogo{
    background-image: url(../../Images/LoginPage.jpg);
    width: 45vw;
    height: 92vh;
    background-position: center;
    background-size: cover;
    opacity: .3;
    backdrop-filter: blur(10px);
   
}
.LoginLogo{
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

 